@model BanVeXemPhim.Models.Entities.KhachHang
@{ List<BanVeXemPhim.Models.Entities.Phim> PhimDangChieu = ViewBag.PhimDangChieu; }
<!-- Begin-main -->
<div class="member__main">
    <div class="grid wide ">
        <div class="row app_container">
            <div class="col l-12">
                <!-- Begin menu -->
                <ul class="member-menu">
                    <li class="member-menu__item">
                        <a href="" class="member-menu__link member-menu__item-separate">Trang chủ</a>
                    </li>
                    <li class="member-menu__item">
                        <a href="" class="member-menu__link member-menu__item-separate">Thành viên</a>
                    </li>
                    <li class="member-menu__item">
                        <a href="" class="member-menu__link text-color-black cursor-text">Cá nhân</a>
                    </li>
                </ul>
                <!-- End menu -->
                <!-- Begin nav-tab-member -->
                <ul class="nav-tab-member">
                    <li class="tab-member__item">
                        <p id="js-information" class="tab-member__link--info tab-member-color-active cursor-default">THÔNG TIN THÀNH VIÊN</p>
                    </li>
                    <li class="tab-member__item ">
                        <p id="js-transaction" class="tab-member__link--trans cursor-pointer">GIAO DỊCH CỦA TÔI</p>
                    </li>
                </ul>
                <!-- End nav-tab-member -->
            </div>
        </div>
        <!--Begin member-body -->
        <div class="member-body-wrap">
            <!-- row-one -->
            <div class="row tablet-pd-20 mobile-pd-10  ">
                <div class="col l-5 m-7 c-12">
                    <label for="" class="lable-text">Họ & Tên</label>
                    <input type="text" value="@Model.HoTen" disabled class="input-member">
                </div>
                <div class="col l-2 m-5 c-12 mb-mt-20 ">
                    <label for="" class="lable-text ">Chi tiêu 2022</label>
                    <input type="text" value="@ViewBag.chitieu" disabled class="input-member">
                </div>
            </div>
            <!-- row-two -->
            <div class="row   tablet-pd-20 mobile-pd-10 mb-mt-0  row-mt">
                <div class="col c-12 l-3 m-8 ">
                    <label for="" class="lable-text">Ngày sinh</label>
                    <input type="text" value="@Model.NgaySinh.ToString().Split(' ')[0]" disabled class="input-member">
                </div>
                <div class="col c-12 l-2 m-4 mb-mt-20">
                    <label for="" class="lable-text">Giới tính</label>
                    <input type="text" value="Nam" disabled class="input-member">
                </div>
                <div class="col c-12 l-3 m-12  tl-mt-20 mb-mt-20">
                    <label for="" class="lable-text ">Số điện thoại</label>
                    <input type="text" value="@Model.SoDienThoai" disabled class="input-member">
                </div>
            </div>
            <!-- row-three -->
            <div class="row   tablet-pd-20 mobile-pd-10  ">
                <div class="col c-12 l-5 m-12 mt-20 row-mt tl-mt-0 mb-mt-0">
                    <label for="q" class="lable-text">Địa chỉ</label>
                    <input type="text" name="" value="@Model.DiaChi" class="input-member--enable">
                </div>
            </div>
            <!-- row-four -->
            <div class="row tablet-pd-20 mobile-pd-10 row-mt mb-mt-0">
                <div class="col l-5 m-12 c-12">
                    <label for="q" class="lable-text">Email</label>
                    <input type="email" name="" value="@Model.Email" disabled class="input-member">
                </div>

            </div>
            <!-- row-five -->
            <div class="row tablet-pd-20 mobile-pd-10  row-mt">
                <div class="col l-5 c-12 m-12">
                    <input type="checkbox" name="" id="changepass__checkbox" class="changepass__checked">
                    <label for="changepass__checkbox" class="changepass__text">
                        Đổi mật khẩu
                    </label>
                    <!-- Modal -->
                    <!--Begin input-change-password -->
                    <div class="modal-change-password ">
                        <input type="text" placeholder="Mật khẩu hiện tại" class="input-member--enable" id="pass_older">
                        <input type="text" placeholder="Mật khẩu mới" class="input-member--enable" id="pass_new">
                        <input type="text" placeholder="Xác nhận mật khẩu" class="input-member--enable" id="pass_new2">
                    </div>
                    <!--End input-change-password -->
                    <!-- btn-save -->
                    <div class="btn-save" onclick="Save_ThanhVien()">
                        LƯU LẠI
                    </div>

                </div>

            </div>
            <!--End member-body -->
        </div>
        <!-- Modal Transaction -->
        <div class="modal">
            <div class="modal-container">
                <div class="grid wide">
                    <div class="row date-wrap">
                        <div class="col l-3 m-12 c-12">
                            <label class="lable-text" for="">Từ</label>
                            @{ 
                                    DateTime d = DateTime.Now;
                                    d = d.AddMonths(-1);
                                    string []a = d.ToString().Split(' ')[0].Split('/');
                                    string t = a[2] + '-' + a[1] + '-' + a[0];

                            <input type="date" id="date_from" value="@t" onchange="load_hd()" class="input-member--enable">
                             }
                        </div>
                        <div class="col l-3 m-12 c-12 film-heading__mt">
                            <label class="lable-text" for="">Đến</label>
                            @{ 
                                DateTime dt = DateTime.Now;
                                string[] a1 = dt.ToString().Split(' ')[0].Split('/');
                                string t1 = a1[2] + '-' + a1[1] + '-' + a1[0];
                            <input type="date" id="date_to" value="@t1" onchange="load_hd()" class="input-member--enable">
                             }
                        </div>
                    </div>
                    <div class="row detail-wrap">
                        <div class="col l-12 m-12 c-12">
                            <table>
                                <thead class="head-table">
                                    <tr>
                                        <th>Ngày</th>
                                        <th>Số giao dịch</th>
                                        <th>Ghế</th>
                                        <th>Rạp</th>
                                        <th>Phim</th>
                                        <th>Suất chiếu</th>
                                        <th>Đồ ăn</th>
                                        <th>Giá trị</th>
                                    </tr>
                                </thead>
                                <tbody class="body-table" id="data-table">
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Begin Phim đang chiếu -->
                    <div class="row-film-hot">
                        <div class="row ">
                            <div class="col l-12">
                                <h2 class="film-hot__heading">
                                    PHIM ĐANG CHIẾU
                                    <hr class="hr-member">
                                </h2>
                            </div>
                        </div>
                        <!--Begin list film -->
                        <div class="list-film">
                            <div class="row mt-20">
                                @foreach (var i in PhimDangChieu)
                                {
                                <div class="col l-4  m-4 c-12">
                                    <div class="film section_content-item">
                                        <a href="/mua-ve/@i.MaPhim" class="film-hot__link">
                                            <img alt="img-film" src="~/Content/img/@i.Anh" class="film-hot__img">
                                            <div class="section_content-btn">MUA VÉ</div>
                                        </a>
                                        <h2 class="film-hot__heading">@i.TenPhim</h2>
                                        <h2 class="film-hot__heading-vn ">@i.GhiChu</h2>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <!-- End list film -->
                    </div>
                    <!-- End Phim đang chiếu -->
                </div>
            </div>
        </div>
        <!-- End  Modal Transaction -->
    </div>
</div>
@Scripts.Render("~/bundles/myjs_member")